* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(69, 69, 230);
}
header {
    text-align: center;
    color: rgb(255, 255, 255);
}
footer {
    text-align: center;
    color: rgb(255, 255, 255);
}
section {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgb(0, 0, 0);
    padding: 40px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
}