* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(69, 69, 230);
}
header {
    text-align: center;
    color: rgb(255, 255, 255);
}
section {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 1200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgb(0, 0, 0);
}
footer {
    text-align: center;
    color: rgb(255, 255, 255);
}
input {
    margin: 10px;
    width: 300px;
}
button {
    width: 200px;
    height: 50px;
    margin: 20px;
}
.verde {
    color: green;
}
.vermelho {
    color: red;
}